:root {
    
    --border-radius: .125rem;
    
    --body__background-color: #222;
    --body__text-color: #ddd;
    
    --h1__background-color: #444;
    
    --menu-item-spacing: .5rem;
    --menu-item-size: 3.5rem;
    
    --item__background-color: #333;
    --item__background-color__hover: #444;
    --item__background-color__darker: #292929;
    --item__background-color__darkest: #191919;
    
    --group__background-color: #333;
    
}
