*:disabled,
body[disabled] * {
    pointer-events: none;
}

*:disabled {
    opacity: .5;
}

body[disabled] {
    input, textarea, button, select {
        opacity: .5;
    }
    
    [data-page] > .content {
        display: none;
    }
}

main:has([data-action="gotoPage"][data-target="certificates"].dirty) {
    [data-action="updateCertificate"] {
        opacity: .5;
    }
}

button:disabled,
main:has([data-action="gotoPage"][data-target="certificates"].dirty
  [data-action="updateCertificate"]) {
    cursor: default;
    pointer-events: none;
}
