*:disabled,
body[disabled] * {
    pointer-events: none;
}

*:disabled {
    opacity: .5;
}

body[disabled] {
    input, textarea, button, select {
        opacity: .5;
    }
    
    [data-bind="htmlInfo"] {
        opacity: .5;
    }
}

main:has([data-action="gotoPage"][data-target="certificates"].dirty) {
    [data-action="updateCertificate"] {
        opacity: .5;
    }
}

button:disabled,
main:has([data-action="gotoPage"][data-target="certificates"].dirty
  [data-action="updateCertificate"]) {
    cursor: default;
    pointer-events: none;
}

body[disabled] .checkbox {
    background-color: #9c93;
    border-radius: .25rem;
    scale: .9;
    
    & > * {
        display: none !important;
    }
}
