input, textarea, button, select {
    background-color: var(--menu-item__background-color);
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: var(--border-radius);
    display: block;
    transition: opacity 150ms;
}

  .group input,   .group textarea,   .group select,
  .block input,   .block textarea,   .block select,
.foldout input, .foldout textarea, .foldout select {
    background-color: #444;
}

button {
    cursor: pointer;
    padding: .5rem .75rem;
    background-color: #347;
    
    &:not(:disabled):hover {
        filter: brightness(1.1);
    }
    
    &[data-action="saveAll"],
    &[data-action="saveConfig"] {
        background-color: #373;
    }
    
    &[data-action="delete"],
    &.remove {
        background-color: #632;
    }
}

textarea {
    height: 20rem;
    line-height: 1.5;
    resize: none;
}

input:not(:disabled):focus,
input:not(:disabled):hover,
select:not(:disabled):focus,
select:not(:disabled):hover,
button:not(:disabled):active {
    filter: brightness(1.2);
}

select {
    padding: .45rem .25rem;
}
