body:has(#fullscreen-loading.display-none):has(.loading.display-none) {
    h1.dirty > i,
    main:has(.dirty) h1 > i {
        &::before, &::after {
            content: '\f06d';
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
        
        &::before {
            animation-name: fire-1;
        }
        
        &::after {
            animation-name: fire-2;
            color: #ff00;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .pages {
        overflow: hidden auto;
        flex: 1;
        padding: 1rem 1rem 3rem;
    }
    
    .menu-wrapper {
        flex: 0;
    }
}
