h1 {
    padding: .5em;
    background-color: var(--h1__background-color);
    color: white;
    letter-spacing: .015em;
    display: flex;
    gap: 1.275em;
    font-size: var(--h1__font-size, 2em);
    transition: .1s;
    
    & > i {
        &::before, &::after {
            position: absolute;
        }
    }
}

h1, h2, h3 {
    margin: 0;
}

h3 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}
