[data-page] {
    width: 59rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    padding: .5rem 0;
    opacity: 0;
    transition: opacity 120ms, translate 120ms;
    pointer-events: none;
    translate: 0 -.5rem;
    
    &.fade-in {
        opacity: 1;
        pointer-events: unset;
        translate: 0 0;
    }
    
    & > .title {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem 0 0;
        gap: 1rem;
        position: relative;
        
        & > *:nth-child(2) {
            display: flex;
            gap: .5rem;
            position: absolute;
            right: 0;
            top: 1rem;
        }
        
        & > *:nth-child(3) {
            display: flex;
            
            & > * {
                flex: 1;
            }
        }
    }
}

[data-page="build"] {
    padding-bottom: 3rem;
    
    & > .content + div {
        display: flex;
        gap: .5rem;
        justify-content: center;
    }
}
