[data-page] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    padding-top: .6rem;
    padding-bottom: 40vh;
    opacity: 0;
    transition: opacity 120ms, margin 120ms;
    margin: 0 .5rem 0 -.5rem;
    pointer-events: none;
    
    &.fade-in {
        opacity: 1;
        margin: 0;
        pointer-events: unset;
    }

    & > .title {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 2.5rem;
        padding: 1.5rem 0 2rem;
        gap: .475rem;
        
        & > h2 {
            flex: 1;
            display: flex;
            gap: .75rem;
        }
    }
    
    & > .title:has(.search) {
        height: 5.5rem;
        padding-bottom: 5rem;
    }
}

[data-page="build"] {
    padding-bottom: 3rem;
    
    & > .content + div {
        display: flex;
        gap: .5rem;
        justify-content: center;
    }
}
