[data-page] {
    width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    padding-top: .6rem;
    padding-bottom: 20vh;
    opacity: 0;
    transition: opacity 120ms, margin-block 120ms;
    margin-block: 1em -1em;
    pointer-events: none;
    
    &.fade-in {
        opacity: 1;
        margin-block: 0;
        pointer-events: unset;
    }
    
    & > .title {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        box-sizing: border-box;
        padding: 1.5rem 0 2rem;
        gap: 1rem;
        position: relative;
        
        & > *:nth-child(2) {
            display: flex;
            gap: .5rem;
            position: absolute;
            right: 0;
            top: 1.5rem;
        }
        
        & > *:nth-child(3) {
            display: flex;
            
            & > * {
                flex: 1;
            }
        }
    }
}

[data-page="build"] {
    padding-bottom: 3rem;
    
    & > .content + div {
        display: flex;
        gap: .5rem;
        justify-content: center;
    }
}
