h1 {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu {
    padding-top: 5rem;
    position: fixed;
    top: 0;
    bottom: 0;
    
    & + div {
        margin-top: 4rem;
        margin-left: calc(var(--menu-width) + var(--main-div-offset));
        margin-right: calc(0px - var(--main-div-offset));
        max-width: var(--main-div-max-width);
    }
}

[data-page] {
    & > .title {
        position: fixed;
        z-index: 1;
        width: calc(var(--main-div-max-width) - 2.45rem);
        background: linear-gradient(
            var(--body__background-color) calc(100% - 2rem),
            #0000 100%
        );
        margin-top: -1.6rem;
        pointer-events: none;
        height: 7rem;
        
        &:has(.search) {
            height: 10rem;
        }
        
        & > button {
            pointer-events: all;
        }
        
        & > .search {
            position: absolute;
            top: 5rem;
            width: calc(100% - 1rem);
            pointer-events: all;
        }
    }
    
    & > .content {
        margin-top: 5rem;
    }
    
    &:has(.search) > .content {
        margin-top: 8rem;
    }
}
