.list {
    display: flex;
    flex-direction: column;
}

.list-header {
    display: grid;
    background-color: var(--item__background-color__darkest);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: .5rem solid var(--item__background-color);
    text-transform: uppercase;
    font-size: .8em;
    padding-block: .675rem .5rem;
}

.list-header > div,
.list .item > div > div {
    padding-inline: .5rem;
}

.list::after {
    content: '';
    background-color: red;
    height: .5rem;
    background-color: var(--item__background-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.list .item > div:nth-child(1) {
    display: grid;
    cursor: pointer;
    line-height: 1.5;
    padding-block: .75rem;
    background-color: var(--item__background-color);
}

.list .item > div:nth-child(1):hover {
    background-color: var(--item__background-color__hover);
}

.list .item > div:nth-child(1)[ripple] > .ripple {
    width: 10em;
    height: 10.5em;
    background-color: #fff6;
}

.list .item > div:nth-child(1)[ripple] > .ripple.effect {
    transform: translate(-50%, -50%) scale(15);
}

.list .item > div:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem .5rem 1rem;
    background-color: var(--item__background-color__darker);
    border-radius: var(--border-radius);
    border-bottom: .5rem solid var(--item__background-color);
}

.list .item:has([data-bind="enabled"]):not(:has([data-bind="enabled"]:checked)) {
    opacity: .5;
}

.list .item > div:nth-child(2):has([data-bind="enabled"]):not(:has([data-bind="enabled"]:checked)) * {
    pointer-events: none;
}

.list .item > div:nth-child(2) [data-bind="enabled"] {
    pointer-events: all !important;
}
