.list {
    display: flex;
    flex-direction: column;
}

.list-header {
    display: grid;
    background-color: var(--item__background-color__darkest);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: .5rem solid var(--item__background-color);
    text-transform: uppercase;
    font-size: .8em;
    padding-block: .675rem .5rem;
}

.list-header > div,
.list .item > div > div {
    padding-inline: .5rem;
}

.list::after {
    content: '';
    background-color: red;
    height: .5rem;
    background-color: var(--item__background-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.list .item {
    transition: scale .1s;
}

.list .item:not(:has(> div:nth-child(2).display-none)) {
    outline: .125rem solid #668;
    z-index: 1;
    box-shadow: 0 0 1.5rem -.5rem black;
    scale: 1.05;
}

.list:has(.item > div:nth-child(2):not(.display-none))
.item:has(> div:nth-child(2).display-none) {
    filter: saturate(.5) contrast(.5) brightness(.6);
}

.list .item > div:nth-child(1) {
    display: grid;
    cursor: pointer;
    line-height: 1.5;
    padding-block: .75rem;
    background-color: var(--item__background-color);
}

.list .item > div:nth-child(1):hover {
    background-color: var(--item__background-color__hover);
}

.list .item > div:nth-child(1)[ripple] > .ripple {
    width: 10em;
    height: 10.5em;
    background-color: #fff6;
}

.list .item > div:nth-child(1)[ripple] > .ripple.effect {
    transform: translate(-50%, -50%) scale(15);
}

.list .item > div:nth-child(2) {
    position: relative;
    display: flex !important;
    flex-direction: column;
    gap: .5rem;
    padding-inline: .5rem;
    background-color: var(--item__background-color__darker);
    border-radius: var(--border-radius);
    border-bottom: .5rem solid var(--item__background-color);
    transition: opacity 120ms;
    padding-block: .5rem 1rem;
}

.list .item > div:nth-child(2).display-none {
    opacity: 0;
    height: 0;
    overflow: hidden;
    border-bottom-width: 0;
    padding: 0;
}

.list .item:has([data-bind="enabled"]):not(:has([data-bind="enabled"]:checked)) {
    filter: brightness(.6) contrast(.8) saturate(.5);
}

.list .item > div:nth-child(2):has([data-bind="enabled"]):not(:has([data-bind="enabled"]:checked)) * {
    pointer-events: none;
}

.list .item > div:nth-child(2) [data-bind="enabled"] {
    pointer-events: all !important;
}
